html
    head
        meta(charset='utf8')
    body
        div
            a(href='signin') 用github账号登录
        h1 极特朋友 排解寂寞 释放压力
        p 程序员吹比社区
        p 可以讨论php是最好的语言，强类型弱类型没类型
        p 不要讨论有用技术
        p 禁止暴力膜蛤


